<div class="sidebar">
  <li class="nav-item">
    <div class="d-lg-inline d-sm-block text-right">
      <a
        routerLink="/dashboard-page"
        class="btn my-2 my-sm-0 mr-2 links"
        type="submit"
        >Dashboard <i class="uil uil-apps"></i
      ></a>
    </div>
    <div class="d-lg-inline d-sm-block text-right">
      <a
        routerLink="/statistics-page"
        class="btn my-2 my-sm-0 mr-2 links"
        type="submit"
        >Statistics <i class="uil uil-graph-bar"></i
      ></a>
    </div>
  </li>
</div>
