<div class="sidebar">
  <div class="ml-2">
    <div class="mt-2">
      <a class="btn my-2 my-sm-0 mr-2 links mainLink" href="#"
        >App <i class="uil uil-browser"></i
      ></a>
    </div>
    <hr />
    <a
      routerLink="/dashboard-page"
      class="btn my-2 my-sm-0 mr-2 links"
      type="submit"
      >Dashboard <i class="uil uil-apps"></i
    ></a>
    <br />
    <a
      routerLink="/statistics-page"
      class="btn my-2 my-sm-0 mr-2 links"
      type="submit"
      >Statistics <i class="uil uil-graph-bar"></i
    ></a>
    <br />
    <a routerLink="/about-page" class="btn my-2 my-sm-0 mr-2 links"
      >About <i class="uil uil-info-circle"></i
    ></a>
    <br />
    <a class="btn my-2 my-sm-0 mr-2 links"
      >Sidebar <i class="uil uil-web-section-alt"></i
    ></a>
    <br />
    <a class="btn my-2 my-sm-0 mr-2 links">
      Dark Mode <i class="uil uil-moon"></i>
    </a>
    <br />
    <a routerLink="/user-profile-page" class="btn my-2 my-sm-0 mr-2"
      >Name... <i class="uil uil-user"></i
    ></a>
    <br />
    <hr />
    <a routerLink="/edit-products-page" class="btn my-2 my-sm-0 mr-2 links"
      >Add Product <i class="uil uil-plus"></i
    ></a>
    <a routerLink="/profile-page" class="btn my-2 my-sm-0 mr-2 links"
      >Edit Profile <i class="uil uil-setting"></i
    ></a>
    <div class="mt-3 ml-2">
      <a class="btn btn-primary my-2 my-sm-0 mr-2"
        >Logout <i class="uil uil-signout"></i
      ></a>
    </div>
  </div>
</div>
