<div class="page-container">
  <!-- Product Offered -->
  <!-- Photos -->
  <br />
  <!-- style="background-image: url('assets/images/wh-pic-1.jpg');" -->
  <div
    class="home-banner col-lg-10 ml-lg-5 ml-sm-2 mt-3 mx-auto"
    style="background-image: url('assets/images/wh-pic-1.jpg')"
  >
    <div class="pl-lg-3">
      <br />
      <h1 style="color: white">
        Welcome to, <br />
        The Warehouse
      </h1>
      <a href="#products" class="btn btn-primary mt-4">See Products</a>
    </div>
  </div>
  <br /><br />

  <div id="about-us" class="info-banner">
    <div class="col-lg-5 col-sm-12 float-lg-left ml-lg-5">
      <img
        src="assets/images/wh-pic-2.jpg"
        class="img-fluid wh-image"
        alt="An Empty Warehouse"
      />
    </div>
    <br />
    <div class="col-lg-5 col-sm-12 float-lg-left text-justify">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat
      </p>
    </div>
  </div>

  <div class="col-11 text-center mx-auto">
    <hr />
    <br />
  </div>

  <div id="products" class="product-banner">
    <div class="mx-auto text-center">
      <h2>Our Collection</h2>
      <br />
      <div class="col-11 text-center mx-auto">
        <hr />
      </div>
      <br />
    </div>

    <div class="row">
      <div class="product col-lg-4">
        <div class="mx-auto text-center">
          <img
            style="height: 370px"
            src="assets/images/chair.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="text-center">
          <br />
          <h4>Household</h4>
          <button class="btn btn-outline-primary mt-4">About Household</button>
        </div>
        <br />
      </div>

      <div class="product col-lg-4">
        <div class="mx-auto text-center">
          <img
            style="height: 370px"
            src="assets/images/shirt.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="text-center">
          <br />
          <h4>Clothes</h4>
          <a href="#about-us" class="btn btn-outline-primary mt-4"
            >About Clothes</a
          >
        </div>
        <br />
      </div>

      <div class="product col-lg-4">
        <div class="mx-auto text-center">
          <img
            style="height: 370px"
            src="assets/images/stethoscope.jpg"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="text-center">
          <br />
          <h4>Medicine</h4>
          <button class="btn btn-outline-primary mt-4">About Medicine</button>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
