.counter {
  color: green;
}

.navbar-brand:hover {
  color: #607fd3;
}

.nav-item a:hover {
  color: rgb(126, 126, 126);
}

.links {
  color: var(--p);
}

.a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* SideBar */

.sidebar {
  height: 100%;
  width: 20%;
  background-color: var(--sidebar);
  position: absolute;
  box-shadow: 10px 0 5px -2px rgb(44, 44, 44);
}

.sidebar a {
  color: var(--p);
  font-size: large;
}

.sidebar a:hover {
  color: var(--h);
}

.mainLink {
  font-size: 24px !important;
}
