.counter {
  color: green;
}

.navbar-brand:hover {
  color: #607fd3;
}

.nav-item a:hover {
  color: rgb(126, 126, 126);
}

.links {
  color: var(--p);
}

.a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.open .navbar {
  left: 0 !important;
  width: 20%;
  height: 100%;
}
