.content {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow-x: hidden !important;
}

.parent {
  width: 20%;
  height: 100%;
}

.subContent {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden !important;
}
