<div class="page-container">
  <div class="mx-auto text-center col-lg-6 col-md-9 col-sm-11 pt-5 pb-5">
    <h3>About This Site</h3>
    <hr />
    <div class="text-justify mx-auto">
      <p>
        This site was built with <strong>Angular TS</strong>,
        <strong>Bootstrap</strong>, <strong>Charts.js</strong> and
        <strong>Unicons</strong> for developer demonstrative purposes. Feel free
        to play around with this simple site, creating fake products, removing
        products, viewing the statistical graph change based on products and/or
        edit your username. A Rest API was built for the site but is not in use
        for the demonstration.
      </p>
    </div>
    <hr />
    <div class="text-center">
      <p>
        See some of <strong>my other projects</strong> at:
        <a href="https://murrayobrien.github.io/"
          >https://murrayobrien.github.io/</a
        >

        <br /><br />
        See <strong>source code</strong>:
        <a href="https://github.com/murrayobrien/angular-app"
          >https://github.com/murrayobrien/angular-app</a
        >
        <br /><br />I hope you like my work, cheers :)
      </p>
    </div>
  </div>
</div>
