<div class="page-container">
    <div class="mx-auto text-center col-12 pt-5 pb-5">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group col-lg-4 mx-auto">
                <h3>Please Login</h3><br>
                <!-- Username/Email Field -->
                <label for="name" hidden>Name</label>
                <input [(ngModel)]="user.name" #name="ngModel" type="text" class="form-control" placeholder="Username" id="name" name="name" required>
                <!-- Error Msg -->
                <small *ngIf="!name.pristine && !name.valid">Please enter your Name</small>
                <!-- Password -->
                <label for="password" hidden>Password</label>
                <input [(ngModel)]="user.password" #password="ngModel" type="password" class="form-control mt-3" placeholder="Password" id="password" name="password" required>
                <!-- Error Msg -->
                <small *ngIf="!password.pristine && !password.valid">
                    Please enter your Password
                    <br>
                </small>
                <!-- Btn -->
                <button type="submit" class="btn btn-primary mt-4" [disabled]="loginForm.invalid">Login</button>
                <!-- Link to register -->
                <a routerLink="/register-page" routerLinkActive="active" class="btn btn-link mt-4" >Register</a>
            </div>
        </form>
        <p style="color: rgb(255, 81, 81)">{{ result }}</p>
    </div>
</div>
  